{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    {% include 'nav.html' %}
    {% include 'side.html' %}
    <div id="content">
        <div id="content-header">
          <div id="breadcrumb"> <a href="{% url 'imfu_online:home' %}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="tip-bottom">Invoice</a></div>
        </div>
        <div class="container-fluid">
          <hr>
          <div class="row-fluid">
            <div class="span12">
              <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                  <h5></h5>
                </div>
                <div class="widget-content nopadding">
                  <table class="table table-bordered data-table">
                    <thead>
                      <tr>
                        <th>S. No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        {% if user.is_superuser %}
                        <th>Action</th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="gradeA">
                        <td>1</td>
                        <td>Internet
                          Explorer 6</td>
                        <td>Win 98+</td>
                        {% if user.is_superuser %}
                        <td class="center">6</td>
                        {% endif %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div id="footer" class="span12"> 2020 &copy; <a href=""></a> </div>
      </div>
      <script src="{% static '/js/jquery.min.js' %}"></script> 
      <script src="{% static '/js/jquery.ui.custom.js' %}"></script> 
      <script src="{% static '/js/bootstrap.min.js' %}"></script> 
      <script src="{% static '/js/jquery.uniform.js' %}"></script> 
      <script src="{% static '/js/select2.min.js' %}"></script> 
      <script src="{% static '/js/jquery.dataTables.min.js' %}"></script> 
      <script src="{% static '/js/matrix.js' %}"></script> 
      <script src="{% static '/js/matrix.tables.js' %}"></script>    
{% endblock %}